*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}
:root{
    --background: rgb(24,24,24);
    --second-background: rgb(21,21,21);

}
body{
    min-height: 100vh;
    background-color:  var(--background);

}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(15, 15, 15, 0.329);
    backdrop-filter: blur(10px);
    z-index: 1000;

}
ul{
    display: flex;
    align-items: center;
    gap: 3em;
}
nav ul a{
    color: white;
     opacity: 0.7;
     font-size: large;
    transition: 0.2s ease-in-out;
}
nav ul a:hover{
    opacity: 1;
}
.logo{
    font-size: 2.5em;
    color: white;
    font-weight: 800;
    opacity: .8;
    transition: 0.2 ease-in-out;
}
.logo:hover{
    opacity: 1;

}
.btn{
    padding: 0.5em 1em;
    color: greenyellow;
    font-weight: 50;
    letter-spacing: 1px;
    border-radius: .5;
    font-size: 1.1em;
    border: 2px solid white;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.btn:hover{
    background-color: white;
    color: var(--background);
}
span{
    background: linear-gradient(to right, #6cff52,#3ec5ff);
    background-clip: text;
    color: transparent;

}
#menu{
    color: white;
    font-size: 2em;
    display:none;
}
section{
    min-height: 100vh;
    padding: 5% 15%;
}
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: white;
}
#home img{
    width: 18vw;
    border-radius: 50%;
    margin-top: 3em;
}
.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
    max-width: 600px;
}
.info-box h1{
    font-size: 2.5em;
    font-weight: 600;

}
.info-box h3{
    font-size: 1.5em;
    font-weight: 800;
}
.info-box p{
    color: white;
    opacity: 0.7;
    font-size: large;
    font-weight: lighter;
    flex-direction: column;
    gap: 1em;
    text-align: justify;
}
.btn-box{
    display: flex;
    gap: 1em;
}
.btn-box .btn:nth-of-type(2);hover{
    background-color: var(--background);
    color: white;
}
::-webkit-scrollbar{
    width: 20px;
    background-color: var(--background);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, #6cff52, #3ec5ff);
}
#about{
    background-color: var(--second-background);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}
#about img{
    width: 30vw;
    border-radius: 1em;
}
.about-box{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2em;
}
.about-box h1{
    font-size: 2.5em;
}
.about-box p{
    color: white;
    font-size:large;
    opacity: 0.8;
    text-align: justify;
}
.skills{
    font-size: 1.5em;
    font-weight: 50;
    display: flex;
    text-align: left;
    gap: 10em;
    font-size: 1em;
}
.skills ul{
    font-weight: 100;
    display: flex;
    flex-direction: column;
    color: white;
    opacity: .8;
    align-items: baseline;
}
.skills ul li span{
    display: flex;
    align-items: center;
    gap: 1.3em;
    font-size: 1.3em;
    transition: 0.3s ease-in-out;
}
.skills ul li span:hover{
    transform: translateX(10px);
}
.skills ul li i{
    font-size: 1.2em;

}
.about-box h2{
    font-size: 1.7em;
}
#projects{
    background-color: var(--background);
}
.header{
    text-align: center;
    font-size: 2.5em;
    margin: 0.5em 0;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2em;

}
.box{
    border:3px solid rgb(49,49,49);
    border-radius: 0.5em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    padding: 3em;
    gap: 2em;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.box-hover{
    border: 3px solid rgb(100,100,100);
}
.box p{
    font-size:large;
    opacity: 0.8;
    text-align: justify;
    font-weight: lighter;

}
.box h1{
    font-size: 1.5em;
}
.box a{
    font-size: medium;
    color: green;
}
.box img{
    min-width: 100px;
    min-height:6cm;
    border-radius: 0.5em;
    
}
#vision{
    background-color: var(--second-background);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em; 
}
#vision img{
    width: 50vw;
    height: 8cm;
    border-radius: 1em;
}  
.vision-box{
    display: flex;
    flex-direction: column ;
    text-align:center;
    gap: 2em;
} 
.vision-box h1{
    font-size: 2.5em;
    font-weight: 600;
}
.vision-box p{
    color: white;
    opacity: 0.8;
    gap: .5em;
    font-size: large;
    font-weight: lighter;
    text-align: justify;

}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    top: .6cm;
    bottom: 5cm;
    background-color: var(--background);
    width: 100%;
    padding: 2em 15%;
}
@media(max-width:968px){
    section{
        padding: 8em 15%;
    }
    nav .btn{
        display:none;
    }
    #menu{
        display: block;
    }
    .links{
        position:absolute;
        top: 100%;
        right: 1cm;
        width: 100;
        padding: 1em 1em;
        color: white;
        display: flex;
        flex-direction: column;
        text-align:center;
        background: rgba(0, 0, 0, 0.582);
        display: none;
    
    }
    .links a{
        margin: 2em 0;
        display: block;
        font-size: 1.2em;
        color: white;
    }
    .links.active{
        display: block;
    
    }

    #home h1{
        font-size: 4em;
    }
    #home h3{
        font-size: 2em;
    }
    #home img{
        width: 240vw;
    }
    #about{
        flex-direction: column;
    }
    #about img{
        width: 45vw;
    }
    #about h1{
        font-size: 3em;
    }
    #about ul{
        font-size: 1em;
    }

}
@media(max-width:768px){
    #home h1{
        font-size: 2em;
    }
    #home h3{
        font-size: 1.5em;
    }
    #home img{
        width: 32vw;
    }
    #about .skills{
        gap: 3em;
    }

    #projects .header{
        font-size: 3em;
    }

    #vision .header{
        font-size: 2em;
    }
    #vision img{
        width: 27vw;
        height: 6cm;
    
    }
    #vision p{
        display:inline-table
    }
    footer{
        display: center;
        gap: 2em;
        align-items: baseline;
    }
}

